<div style="width: 100%;">
	<div style="width: 10%; float: left; vertical-align: top">
		<%= image_tag('trip.png') %>
	</div>
	<div style="width: 75%; float: left">
		<%= image_tag('biker.png') %>
	</div>
	<div style="width: 15%; float: right">
		<%= image_tag('relogo.png') %>
	</div>
</div>
