<br/>
<div style="width: 100%; float: left;">
	<div style="width: 15%; float: left">
		<%= image_tag('trip.png') %>
	</div>
	<div style="width: 70%; float: left">
		<%= image_tag('biker.png') %>
	</div>
	<div style="width: 15%; float: right;">
		<%= image_tag('relogo.png') %>
	</div>
</div>
