<div style="width: 100%">
	<center>
		<h1>Rider's Location</h1>
		<p>This page shows the current location of riders if they've switched-on their GPS devices. The page shows a static map, it requires frequent refreshing to show current location. This page is specially useful for girlfriends and wives to keep an eye on our fellow riders.</p>
		<div style="float: left; width: 50%">
		<iframe src="http://latitude.google.com/latitude/apps/badge/api?user=-7397941463213159546&type=iframe&maptype=roadmap" width="600" height="500" frameborder="1"></iframe>
		</div>
		<div style="float: right: width: 50%">
			<iframe src="http://latitude.google.com/latitude/apps/badge/api?user=-7397941463213159546&type=iframe&maptype=terrain&z=7" width="600" height="500" frameborder="1"></iframe>
		</div>
	</center>			
</div>
