<center><h1>Riders</h1></center>

<br/><br/>
<div class="clearfix">
	<% @riders.each do |rider| %>
		<div class="tile double triple-vertical bg-color-orange" style="margin-left: 15%;">
		    <div class="tile-content fg-color-grayDark">
		    	<%= image_tag(rider.photofile, :size => '280x195') %>
		    	<br/><br/>
				<h3><%= rider.firstname + ' ' + rider.lastname %></h3>
				<hr/>
				<h4>32 years old</h4>
				<p><%= rider.about %></p>
		    </div>	
		</div>		
	<% end %>
</div>

<% if false %>

<%= link_to 'New Rider', new_rider_path %>
<% end %>
